.main {
    display: flex;
    flex-direction: column;
    border: solid;
    background-color: gray;
    flex-wrap: wrap;
}

.logophoneno{
    display: inline-flex;
    flex-wrap: wrap;
}
.logo{
max-width: 100px;
}

.PhoneMenu{
    display: flex;
    flex: 2 1 30%;
    justify-content: flex-end;
    align-items: center;
}

.Menu{
height: 150px;
}

.Feat {
    display: inline-flex;
    justify-content: space-around;
}
.feat1, .feat2, .feat3, .feat4 {
    height: 150px;
    width: 200px;

}
.textcontentssidebar{
    display: inline-flex;
    flex: 1 1 100%;
    /* align-items: center; */
}

.TextContent{
    flex: 2 1 66%;
    height: 150px;
}
.Sidebar {
    width: 100px;
    flex: 1 1 33%;
}

.container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black;
}

p{
    font: larger;
    color: white;
    text-align: center;

}
